*{
	box-sizing: border-box;
}
h1{
	font-size: 30px;
	font-family:Georgia sans-serif;
	margin-bottom: 30px;
	text-align: center; 
	color:rgb(0,0,0);

}
.row{
	width:100%;


}
p{
	font-family: Georgia sans-serif;
	font-size:17px;
	position: relative;
	padding:15px 5px 0px 5px ;

}
.section{
	border:2px solid black;
	padding: 3px;
	background-color: rgb(150,150,150);
	margin-top: 30px;
	margin-right: 20px;
	text-align: justify;
	position: relative;

}
span{
	width:120px;
	font-size: 20px;
	font-weight: bold ;
	float:right;top:0;right:0;margin:0;
	border:1px solid black;
	position: absolute;
	text-align:center;


}
#head1{
	background-color: rgb(250,150,150);
	color:rgb(0,0,0);
}
#head2{
	background-color: rgb(255,0,0);
	color:rgb(255,255,255);
}
#head3{
	background-color: rgb(200,200,100);
	color:rgb(0,0,0);
}
@media (min-width: 992px){
.col-lg-4{
	width:33.3%;
	float:left;
}
}
@media(min-width:768px )and (max-width:991px ){
	.col-gg-6
	{
		width:50%;
		float:left;

	}
	.col-gg-12{
		width:100%;
		float:left;
	}
}
@media (max-width: 767px){
	.col-md-2{
		width:100%;
		float:left;
	}
}



